@import "tailwindcss";
@font-face {
  font-family: 'Helvetica Neue';
  src: url('/fonts/HelveticaNeueThin.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter Thin';
  src: url('/fonts/Inter_24pt-Thin.ttf') format('truetype');
}
@font-face {
  font-family: 'Inter Light';
  src: url('/fonts/Inter_24pt-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Inter Medium';
  src: url('/fonts/Inter_24pt-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Inter SemiBold';
  src: url('/fonts/Inter_24pt-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Inter Bold';
  src: url('/fonts/Inter_24pt-Bold.ttf') format('truetype');
}

@theme {
  --color-mossy: #636B2F;
  --color-mossy-light: #D4DE95;
  --color-mossy-dark: #3D4127;
  --color-mossy-gray: #BAC095;

  --color-lemon: #FFFF66;
  --color-lemon-orange: #FFE566;
  --color-lemon-green: #B3B347;
  --color-lemon-gray: #D6D58B;
}

:root {
  --page-bg: #0b1220;        /* main page background */
  --surface-bg: #242b3d;     /* component background */
  --surface-alt-bg: #7e557e; /* optional alt */

  font-family: 'Inter Medium', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--page-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.glow {
  text-shadow: 0 0 6px currentColor, 0 0 14px currentColor;
}

.surface { background-color: var(--surface-bg); }

.surface-alt { background-color: var(--surface-alt-bg); }

/* Noise Background */
.noise-bg {
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: -1;

  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAQAAAD9CzEMAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAHdJREFUeNrslLENwCAMRL2n9ywQ0YLRhNJoD2VFVLeQdnU7qYtKIJPvSdyBCgRBBBAAAEEEEAAAQf4F07t2bNzRbZ6VsgGAwHo9Do9Ho/H6CwI9w3iSDZrjOe7r9jwqv1+v16s7JtJp/3Z4g6Hqf1sOAACCCCAAAIIIIAAAgj8BfgADAKtyAs+wLzNAAAAAElFTkSuQmCC");

  opacity: 0.15;
  animation: noiseMove 0.6s steps(4) infinite;
}

@keyframes noiseMove {
  0% { transform: translate(0,0); }
  25% { transform: translate(5%, -5%); }
  50% { transform: translate(-5%, 5%); }
  75% { transform: translate(7%, -2%); }
  100% { transform: translate(0,0); }
}

/* Constrain Vanta canvas to its container and put it behind content */
/* .vanta-container {
  position: relative;
}
.vanta-container > canvas,
.vanta-container .vanta-canvas {
  position: absolute !important;
  inset: 0 !important;
  z-index: -1 !important;
  pointer-events: none !important;
} */
